.info-area {
  margin-top: 40px;
}
.info-area img {
  margin-right: 10px;
  max-width: 200px;
}
.info-area .img-left {
  float: left;
}
.info-area .img-right {
  float: right;
}
.info-area .text-justify {
  text-align: justify;
}
.info-area .isbn {
  font-size: 13px;
}
